.post-area {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  color: rgba(15, 25, 26, 0.5);
  font: 400 13px Avenir Next, -apple-system, Roboto, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
}

.post-container {
  background-color: #fff;
  display: flex;
  width: 60%;
  flex-direction: column;
  padding: 28px 69px 28px 19px;
  border: 5px solid #f0f2f5;
  margin: 0 auto; /* 使容器水平居中 */
  border-radius: 20px;
}

.input-wrapper {
  align-self: flex-start;
  display: flex;
  gap: 9px;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
  resize: none; /* 禁用 textarea 的手动调整大小 */
}

.action-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 22px;
  align-self: flex-end;
  margin-top: 42px;
}

.post-item {
    background-color: #f0f2f5;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box; 
  }

  .posts-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* 居中对齐 */
    width: 60%; /* 确保子元素可以占满父级的宽度 */
   
  }

  .post-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .post-username {
    font-weight: bold;
    font-size: 16px;
  }
  
  .post-content {
    font-size: 14px;
    color: #333;
    margin-top: 30px;
  }

  .uploaded-media {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover; /* Ensure media fills the space proportionally */
    border-radius: 8px;
    margin-top: 10px;
  }


@media (max-width: 991px) {
  .post-container {
    max-width: 100%;
    padding-right: 20px;
  }

  .action-icon {
    margin-top: 40px;
  }
}

